body {
  background-color: #1F2937;
  font-family: 'Prompt', sans-serif;
  width: 500px;
  margin: auto;
  padding: 0;
}

/* Header styling */

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

#colour-scheme, #get-colour-scheme {
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

#colour-scheme, .option {
  background-color: #1F2937;
  width: 270px;
}

#get-colour-scheme {
  background-color: #3D4B60;
  border:none;
}

#seed-colour {
  height: 43px;
  width: 61px;
}

/* Returned colours Section: */

#colour-section {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.returned-colour{
  text-align: center;
}

.returned-colour > footer {
  margin-top: 470px;
  background-color: #3D4B60;
  color:#fff;
  padding: 5px;
}